.menu a {
  color: white;
  font-size:20px;
  display: block;
  text-align: center;
  text-decoration: none;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  background-color: rgba(0, 0, 0, 0.4);
  line-height: 96px;
  padding: 0 70px;
  filter: none;
}

.menu a:hover{
  color: #009ad6;
  display: block;
  text-align: center;
  text-decoration: none;
}

.menu ul {
    list-style-type:none;   
}
.menu {
    position: absolute;
    top:0px;
    left: 800px;
    font-family: Georgia;
    color: #145b7d;
}